<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/datatables.min.css?2">
	<link rel="stylesheet" type="text/css" href="../assets/css/select.datatables.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><i class="fas fa-store"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" style="text-align: center;">
                    <span style="text-align: center; color: var(--warning);">-장애관리-</span>
	                    <a class="nav-link" href="/im_info_user">
		                    <i class="fas fa-tachometer-alt" style="color: var(--light);"></i>
		                    <span style="color: var(--light);" id="daily">장애 정보</span>
	                    </a>
	                    <a class="nav-link" href="/im_dash">
		                    <i class="fas fa-tachometer-alt" style="color: var(--warning);"></i>
		                    <span style="color: var(--warning);" id="period";>장애 현황</span>
	                    </a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
              <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="padding-bottom: 0px;">
                    <div class="container-fluid" style="width : 100%; text-align:center;" th:insert="/topnav">
                    	<button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    </div>
                </nav>
                <div class="container-fluid">
                     <div class="row">
				        <div class="col">
				            <h3 class="text-dark mb-1">장애 종합 상황</h3>
				        </div>
				        <hr style="text-align: left;" />
				    </div>
                    <hr style="text-align: left;" />
                    <div>				        
				        <div>
				        	<div>
				        		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  type="button" id="im_dropdown_btn">영업점 선택 </button>
				        	 	<ul id="im_grid" class="dropdown-menu" role="menu" aria-labelledby="searchType"></ul>
				        	</div>
				        </div>				        
				    </div>
				    <hr style="text-align: left;" />
                    <div class="row" style="height: 400px;">
					    <div class="col">
					        <div style= "text-align : center;" >
					        	<p style= "text-align : center;">출동요청중</p>
					        	<table id="table_01" class="table table-striped table-bordered" style="width:100%; text-align:center;">
							        <thead>
							            <tr>
							                <th>영업점명</th>
							                <th>기기번호</th>
							            </tr>
							        </thead>
							        <tbody id="tbody01"></tbody>
					    		</table>
					        </div>
					    </div>
					    <div class="col">
					        <div style= "text-align : center;" >
					        	<p style= "text-align : center;">기사배정중</p>
					        	<table id="table_02" class="table table-striped table-bordered" style="width:100%; text-align:center;">
							        <thead>
							            <tr>
							                <th>영업점명</th>
							                <th>기기번호</th>
							            </tr>
							        </thead>
							        <tbody id="tbody02"></tbody>
					    		</table>
					        </div>
					    </div>
					    <div class="col">
					        <div style= "text-align : center;" >
					        	<p style= "text-align : center;">출동중</p>
					        	<table id="table_03" class="table table-striped table-bordered" style="width:100%; text-align:center;">
							        <thead>
							            <tr>
							                <th>영업점명</th>
							                <th>기기번호</th>
							            </tr>
							        </thead>
							        <tbody id="tbody03"></tbody>
					    		</table>
					        </div>
					    </div>
					    <div class="col">
					        <div style= "text-align : center;" >
					        	<p style= "text-align : center;">조치중</p>
					        	<table id="table_04" class="table table-striped table-bordered" style="width:100%; text-align:center;">
							        <thead>
							            <tr>
							                <th>영업점명</th>
							                <th>기기번호</th>
							            </tr>
							        </thead>
							        <tbody id="tbody04"></tbody>
					    		</table>
					        </div>
					    </div>
					    <div class="col">
					        <div style= "text-align : center;" >
					        	<p style= "text-align : center;">복구확인중</p>
					        	<table id="table_05" class="table table-striped table-bordered" style="width:100%; text-align:center;">
							        <thead>
							            <tr>
							                <th>영업점명</th>
							                <th>기기번호</th>
							            </tr>
							        </thead>
							        <tbody id="tbody05"></tbody>
					    		</table>
					        </div>
					    </div>
					</div>
                    
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 70px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="../assets/js/incident/im_dash.js"></script>
</body>

</html>