<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkit.ai.mapper.CommonMapper">

	<resultMap type="HashMap" id="br_list">
		<id column="BR_CD" property="BR_CD"/>
		<id column="BR_NM" property="BR_NM"/>
	</resultMap>

	<resultMap type="HashMap" id="goods_list">
		<id column="GOODS_CD" property="GOODS_CD"/>
		<id column="GOODS_CDNM" property="GOODS_CDNM"/>
		<id column="GOODS_TYPE" property="GOODS_TYPE"/>
		<id column="GOODS_TYPENM" property="GOODS_TYPENM"/>
	</resultMap>

	<select id="brList" parameterType="String" resultMap="br_list">
		SELECT
			br_nm
			, br_cd
		FROM
			br_info
		WHERE
			<choose>
				<when test="USER_NO != null and USER_NO.equals('admin')">
					user_no like '%'
				</when>
				<otherwise>
					user_no = #{USER_NO}
				</otherwise>
			</choose>
	</select>

	<!-- goods -->

	<select id="cm_goods_grid" resultMap="goods_list">
		SELECT
			goods_cd
			, goods_type
			, goods_cdnm
			, (
				SELECT
					goods_typenm
				FROM
					goods_type_info t
				WHERE
					c.goods_type = t.goods_type
			) AS goods_typenm
		FROM
			goods_cd_info c
	</select>

	<select id="goods_read_type" resultType="java.util.HashMap">
		SELECT
			goods_type
			, goods_typenm
		FROM
			goods_type_info
		WHERE
			use_yn = 'Y'
	</select>

	<select id="cm_br_loc_grid" parameterType="BrVo" resultType="java.util.HashMap">
		SELECT
			user_no
			, br_cd
			, br_nm
			, br_adr
			, br_adr2
			, TO_CHAR(cls_dt) AS cls_dt
			, CONCAT(CONCAT(br_adr, ', '), br_adr2) AS BR_ADR3
		FROM
			br_info
		WHERE
			<choose>
				<when test="USER_NO != null and USER_NO.equals('admin')">
					user_no LIKE '%'
					AND br_cd = #{BR_CD}
				</when>
				<when test="BR_CD != null and BR_CD.equals('all')">
					user_no = #{USER_NO}
				</when>
				<when test="USER_NO != null and USER_NO.equals('admin') and BR_CD != null and	BR_CD.equals('aLL')">
					user_no LIKE '%' AND br_cd LIKE '%'
				</when>
				<otherwise>
					user_no = #{USER_NO} AND br_cd = #{BR_CD}
				</otherwise>
			</choose>
	</select>

	<!-- 영업점별 기기연결 부분 -->
	<select id="cm_br_map_grid_br" parameterType="String" resultType="java.util.HashMap">
		SELECT
			br_cd
			, br_nm
		FROM
			br_info
		WHERE
			user_no = #{USER_NO}
	</select>

	<select id="cm_br_map_grid_devc"  parameterType="String" resultType="java.util.HashMap">
		SELECT
			mfbiz_id
			, model_id
			, devc_no
		FROM
			devc_info
		WHERE
			<choose>
				<when test="USER_NO != null and USER_NO != 'admin'">
					user_no = #{USER_NO}
				</when>
				<otherwise>
					devc_no  NOT IN (
						SELECT
							devc_no
						FROM
							br_devc_mapp
					)
				</otherwise>
			</choose>
		AND devc_no  NOT IN (SELECT devc_no FROM br_devc_mapp)
	</select>

	<!-- devc -->
	<select id="cm_mfbiz" resultType="java.util.HashMap">
		SELECT
			mfbiz_id
			, mfbiz_nm
		FROM
			mfbiz_info
		WHERE
			use_yn = 'Y'
	</select>

	<select id="cm_devc_list" parameterType="DevcVo" resultType="java.util.HashMap">
		SELECT
			mfbiz_id
			, (
				SELECT
					mfbiz_nm
				FROM
					mfbiz_info
				WHERE
					mfbiz_info.mfbiz_id = devc_info.mfbiz_id
			) AS mfbiz_nm
			, user_no
			, model_id
			, devc_no
			, (
				SELECT
					dtl_cdnm
				FROM
					code_info
				WHERE
					grp_cdid = '2'
				AND dtl_cdid = (
					SELECT
						devc_stat
					FROM
						devc_stat
					WHERE
						devc_info.devc_no = devc_stat.devc_no
				)
			) AS dtl_cdnm
			, (
				SELECT
					devc_stat
				FROM
					devc_stat
				WHERE
					devc_info.devc_no = devc_stat.devc_no
			) AS devc_stat
			, indc_date
			, dscd_date
			, devc_ip
			, os_info
			, cpu_info
			, sw_ver
			, dscd_date
		FROM
			devc_info
		WHERE
			<choose>
				<when test="MFBIZ_ID != null and MFBIZ_ID.equals('ALL')">
					mfbiz_id LIKE '%'
					AND user_no = #{USER_NO}
				</when>

				<when test="USER_NO != null and USER_NO.equals('admin')">
					mfbiz_id = #{MFBIZ_ID}
				</when>

				<when test="USER_NO != null and USER_NO.equals('admin') AND MFBIZ_ID != null AND MFBIZ_ID.equals('ALL')">
					mfbiz_id LIKE '%'
				</when>

				<otherwise>
					mfbiz_id = #{MFBIZ_ID}
					AND user_no = #{USER_NO}
				</otherwise>
			</choose>
	</select>

	<select id="cm_devc_insert_chk" parameterType="String" resultType="int">
		SELECT
			COUNT(devc_no)
		FROM
			devc_info
		WHERE
			devc_no = #{DEVC_NO}
	</select>

	<select id="cm_devc_hwsw" parameterType="DevcVo" resultType="java.util.HashMap">
		SELECT
			(
				SELECT
					mfbiz_nm
				FROM
					mfbiz_info
				WHERE
					mfbiz_info.mfbiz_id = devc_info.mfbiz_id
			) AS mfbiz_nm
			, devc_no
			, os_info
			, cpu_info
			, sw_ver
		FROM
			devc_info
		WHERE
			<choose>
				<when test="USER_NO != null and USER_NO.equals('admin')">
					mfbiz_id = #{MFBIZ_ID}
				</when>

				<when test="MFBIZ_ID != null and MFBIZ_ID.equals('ALL')">
					user_no = #{USER_NO}
				</when>

				<when test="USER_NO != null and USER_NO.equals('admin') and MFBIZ_ID != null and MFBIZ_ID.equals('ALL')">
					mfbiz_id LIKE '%'
				</when>

				<otherwise>
					user_no = #{USER_NO}
					AND	mfbiz_id = #{MFBIZ_ID}
				</otherwise>
			</choose>
	</select>

	<select id="cm_devc_stat_list" parameterType="DevcVo" resultType="java.util.HashMap">
		SELECT
			(
				SELECT
					mfbiz_nm
				FROM
					mfbiz_info
				WHERE
					mfbiz_id = (
						SELECT
							mfbiz_id
						FROM
							devc_info di
						WHERE
							di.user_no = #{USER_NO}
						AND di.devc_no = d.devc_no
					)
			) AS mfbiz_nm
			, (
					SELECT
						model_id
					FROM
						devc_info I
					WHERE
						i.user_no = #{USER_NO}
					AND i.devc_no = D.DEVC_NO
			) AS model_id
			, devc_no
			, devc_stat
			, strt_date
			, strt_tm
			, (
				SELECT
					COUNT(strt_date)
				FROM
					devc_stat_hist
				WHERE
					user_no = #{USER_NO}
				AND devc_stat_hist.devc_no = d.devc_no
			) strt_cnt
		FROM
			devc_stat d
		WHERE
			user_no = #{USER_NO}
	</select>

	<select id="cm_user_my" parameterType="UserVo" resultType="java.util.HashMap">
		SELECT
			cntrl_user_id
			, user_hp
			, user_email
			, user_pw
		FROM
			user_info
		WHERE
			user_no = #{USER_NO}
	</select>

	<select id="cm_user_list" resultType="java.util.HashMap">
		SELECT
			cntrl_user_id
			, user_hp
			, user_email
			, user_no
			, cntrl_author
			, user_pw
		FROM
			user_info
	</select>

	<select id="cm_code_mfbiz_list" resultType="java.util.HashMap">
		SELECT
			mfbiz_id
			, mfbiz_nm
			, mntmng_tel
			, use_yn
			, TO_CHAR(reg_dt) AS reg_dt
			, TO_CHAR(mdfcn_dt) AS mdfcn_dt
		FROM
			mfbiz_info
	</select>

	<select id="cm_code_model_list" resultType="java.util.HashMap">
		SELECT
			mfbiz_id
			, model_id
			, model_nm
			, use_yn
			, TO_CHAR(reg_dt) AS reg_dt
			, TO_CHAR(mdfcn_dt) AS mdfcn_dt
		FROM
			model_info
	</select>

	<select id="cm_code_code_list" resultType="java.util.HashMap">
		SELECT
			grp_cdid
			, dtl_cdid
			, grp_cdnm
			, dtl_cdnm
			, use_yn
			, TO_CHAR(reg_dt) AS reg_dt
			, TO_CHAR(mdfcn_dt) AS mdfcn_dt
		FROM
			code_info
	</select>

	<insert id="cm_goods_insert" parameterType="GoodsVo">
		MERGE INTO
			goods_cd_info c
		USING DUAL
			ON (
				c.goods_cdnm = #{GOODS_CDNM}
				AND c.goods_type = #{GOODS_TYPE}
			)
		WHEN NOT MATCHED THEN
			INSERT
			(
				c.goods_type
				, c.goods_cd
				, c.goods_cdnm
				, c.use_yn
				, c.reg_dt
			)
			VALUES
			(
				#{GOODS_TYPE}
				, NVL(
					(
						SELECT
							MAX(goods_cd)
						FROM
							goods_cd_info
						WHERE
							goods_type = #{GOODS_TYPE})+1, 001)
				, #{GOODS_CDNM}
				, 'Y'
				, #{REG_DT}
			)
	</insert>

	<insert id="cm_br_insert" parameterType="BrVo">
		INSERT INTO
			br_info
			(
				user_no
				, br_cd
				, br_nm
				, br_adr
				, br_adr2
				, reg_dt
			)
			VALUES
			(
				#{USER_NO}
				, NVL(
					(
						SELECT
							MAX(br_cd)
						FROM
							br_info
						WHERE
							user_no = #{USER_NO})+1, 1)
				, #{BR_NM}
				, #{BR_ADR}
				, #{BR_ADR2}
				, #{REG_DT}
			)
	</insert>

	<insert id="cm_br_mapping" parameterType="BrVo">
		INSERT INTO
			br_devc_mapp
		VALUES (
			#{USER_NO}
			, #{BR_CD}
			, #{MFBIZ_ID}
			, #{MODEL_ID}
			, #{DEVC_NO}
		)
	</insert>

	<insert id="cm_devc_insert" parameterType="DevcVo">
		INSERT INTO
			devc_info
			(
				user_no
				, mfbiz_id
				, model_id
				, devc_no
				, indc_date
				, reg_dt
				, devc_ip
				, os_info
				, cpu_info
				, sw_ver
			)
			VALUES
			(
				#{USER_NO}
				, #{MFBIZ_ID}
				, #{MODEL_ID}
				, #{DEVC_NO}
				, #{INDC_DATE}
				, #{REG_DT}
				, #{DEVC_IP}
				, #{OS_INFO}
				, #{CPU_INFO}
				, #{SW_VER}
			)
	</insert>

	<insert id="cm_devc_insert_hist" parameterType="DevcVo">
		INSERT INTO
			devc_info_hist
			(
				user_no
				, mfbiz_id
				, model_id
				, devc_no
				, indc_date
				, reg_dt
				, devc_ip
				, os_info
				, cpu_info
				, sw_ver
				, seq
			)
			VALUES
			(
				#{USER_NO}
				, #{MFBIZ_ID}
				, #{MODEL_ID}
				, #{DEVC_NO}
				, #{INDC_DATE}
				, #{REG_DT}
				, #{DEVC_IP}
				, #{OS_INFO}
				, #{CPU_INFO}
				, #{SW_VER}
				, '1'
			)
	</insert>

	<insert id="cm_devc_modify_hist" parameterType="DevcVo">
		INSERT INTO
			DEVC_INFO_HIST
			(
				user_no
				, mfbiz_id
				, model_id
				, devc_no
				, seq
				, devc_ip
				, os_info
				, cpu_info
				, sw_ver
				, indc_date
				, reg_dt
				<choose>
					<when test="DSCD_DATE != null">
						, dscd_date
					</when>
				</choose>
			)
			VALUES
			(
				#{USER_NO}
				, #{MFBIZ_ID}
				, #{MODEL_ID}
				, #{DEVC_NO}
				, (
					(
						SELECT
							MAX(seq)
						FROM
							devc_info_hist
						WHERE
							devc_no = #{DEVC_NO}
					) + 1
				)
				, #{DEVC_IP}
				, #{OS_INFO}
				, #{CPU_INFO}
				, #{SW_VER}
				, #{INDC_DATE}
				, #{REG_DT}
				<choose>
					<when test="DSCD_DATE != null">
						, #{DSCD_DATE}
					</when>
				</choose>
			)
	</insert>

	<insert id="cm_devc_stat_insert" parameterType="DevcVo">
		INSERT INTO
			devc_stat
			(
				devc_no
				, user_no
				, devc_stat
				, reg_dt
			)
			VALUES (
				#{DEVC_NO}
				, #{USER_NO}
				, '1'
				, #{REG_DT}
			)
	</insert>

	<insert id="cm_devc_stat_hist_insert" parameterType="DevcVo">
		INSERT INTO
			devc_stat_hist
			(
				devc_no
				, user_no
				, devc_stat
				, reg_dt
				, seq
			)
			VALUES(
				#{DEVC_NO}
				, #{USER_NO}
				, '1'
				, #{REG_DT}
				, '1'
			)
	</insert>

	<insert id="cm_devc_stat_hist_modify" parameterType="DevcVo">
		INSERT INTO
			devc_stat_hist
			(
				devc_no
				, user_no
				, devc_stat
				, reg_dt
				, seq
			)
			VALUES (
				#{DEVC_NO}
				, #{USER_NO}
				, #{DEVC_STAT}
				, #{REG_DT}
				, (
					(
						SELECT
							MAX(seq)
						FROM
							devc_stat_hist
						WHERE
							devc_no = #{DEVC_NO}
					) +1
				)
			)
	</insert>

	<insert id="cm_user_insert" parameterType="UserVo">
	INSERT INTO
		user_info
		(
			cntrl_user_id
			, user_no
			, user_pw
			, user_nm
			, user_hp
			, user_email
			, cntrl_author
			, reg_dt
		)
		VALUES
		(
			#{CNTRL_USER_ID}
			, NVL(
				(
					SELECT
						MAX(user_no)
					FROM
						user_info
				) +1, 1
			)
			, #{USER_PW}
			, '-'
			, #{USER_HP}
			, #{USER_EMAIL}
			, '01'
			, #{REG_DT}
		)

	</insert>

	<insert id="cm_mfbiz_insert" parameterType="MfbizVo">
		INSERT INTO
			mfbiz_info
			(
				mfbiz_id
				,mfbiz_nm
				,mntmng_tel
				,use_yn
				,reg_dt
			)
			VALUES
			(
				#{MFBIZ_ID}
				, #{MFBIZ_NM}
				, #{MNTMNG_TEL}
				, #{USE_YN}
				, #{REG_DT}
			)
	</insert>

	<insert id="cm_model_insert" parameterType="ModelVo">
		INSERT INTO
			model_info
			(
				mfbiz_id
				, model_id
				, model_nm
				, use_yn
				, reg_dt
			)
			VALUES
			(
				#{MFBIZ_ID}
				, #{MODEL_ID}
				, #{MODEL_NM}
				, #{USE_YN}
				, #{REG_DT}
			)
	</insert>

	<insert id="cm_code_insert" parameterType="CodeVo">
		INSERT INTO
			code_info
			(
				grp_cdid
				, dtl_cdid
				, grp_cdnm
				, dtl_cdnm
				, use_yn
				, reg_dt
			)
			VALUES
			(
				#{GRP_CDID}
				, #{DTL_CDID}
				, #{GRP_CDNM}
				, #{DTL_CDNM}
				, #{USE_YN}
				, #{REG_DT}
			)
	</insert>

	<update id="cm_goods_modify" parameterType="GoodsVo">
		UPDATE
			goods_cd_info
		SET
			goods_cdnm = #{GOODS_CDNM}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			goods_type = #{GOODS_TYPE}
		AND goods_cd = #{GOODS_CD}
	</update>

	<update id ="cm_br_modify" parameterType="BrVo">
		UPDATE
			br_info
		SET
			user_no = #{USER_NO}
			, br_nm = #{BR_NM}
			, br_adr = #{BR_ADR}
			, br_adr2 = #{BR_ADR2}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			user_no = #{USER_NO}
		AND br_cd = #{BR_CD}
	</update>

	<update id ="cm_br_cls" parameterType="BrVo">
		UPDATE
			br_info
		SET
			mdfcn_dt = #{MDFCN_DT}
			, cls_dt = #{CLS_DT}
		WHERE
			user_no = #{USER_NO}
		AND br_cd = #{BR_CD}
		AND cls_dt IS NULL
	</update>

	<update id="cm_devc_modify" parameterType="DevcVo">
		UPDATE
			devc_info
		SET
			devc_ip = #{DEVC_IP}
			, os_info = #{OS_INFO}
			, cpu_info = #{CPU_INFO}
			, sw_ver = #{SW_VER}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			devc_no = #{DEVC_NO}

	</update>

	<update id ="cm_devc_cls" parameterType="DevcVo">
		UPDATE
			devc_info
		SET
			mdfcn_dt = #{MDFCN_DT}
			, dscd_date= #{DSCD_DATE}
		WHERE
			devc_no = #{DEVC_NO}
	</update>

	<update id="cm_devc_stat_modify" parameterType="DevcVo">
		UPDATE
			devc_stat
		SET
			devc_stat = #{DEVC_STAT}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			devc_no = #{DEVC_NO}
	</update>

	<update id="cm_user_my_modify" parameterType="UserVo">
		UPDATE
			user_info
		SET
			user_pw = #{USER_PW}
			, user_hp = #{USER_HP}
			, user_email = #{USER_EMAIL}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			user_no = #{USER_NO}
	</update>

	<update id="cm_user_modify" parameterType="UserVo">
		UPDATE
			user_info
		SET
			cntrl_user_id = #{CNTRL_USER_ID}
			, user_pw = #{USER_PW}
			, user_hp = #{USER_HP}
			, user_email = #{USER_EMAIL}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			cntrl_user_id = #{CNTRL_USER_ID}
	</update>

	<update id="cm_mfbiz_modify" parameterType="MfbizVo">
		UPDATE
			mfbiz_info
		SET
			mfbiz_id = #{MFBIZ_ID}
			, mfbiz_nm = #{MFBIZ_NM}
			, mntmng_tel = #{MNTMNG_TEL}
			, use_yn = #{USE_YN}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			mfbiz_id = #{MFBIZ_ID}
	</update>

	<update id="cm_model_modify" parameterType="ModelVo">
		UPDATE
			model_info
		SET
			mfbiz_id = #{MFBIZ_ID}
			, model_nm = #{MODEL_NM}
			, model_id = #{MODEL_ID}
			, use_yn = #{USE_YN}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			mfbiz_id = #{MFBIZ_ID}
		AND	model_id = #{MODEL_ID}
	</update>

	<update id="cm_code_modify" parameterType="CodeVo">
		UPDATE
			code_info
		SET
			grp_cdid = #{GRP_CDID}
			, dtl_cdid = #{DTL_CDID}
			, grp_cdnm = #{GRP_CDNM}
			, dtl_cdnm = #{DTL_CDNM}
			, use_yn = #{USE_YN}
			, mdfcn_dt = #{MDFCN_DT}
		WHERE
			grp_cdid = #{GRP_CDID}
		AND	dtl_cdid = #{DTL_CDID}
	</update>

	<delete id="cm_goods_del" parameterType="GoodsVo">
		DELETE FROM
			goods_cd_info
		WHERE
			goods_type = #{GOODS_TYPE}
		AND	goods_cd = #{GOODS_CD}
	</delete>

	<delete id="cm_user_del" parameterType="UserVo">
		DELETE FROM
			user_info
		WHERE
			cntrl_user_id = #{CNTRL_USER_ID}
	</delete>

	<delete id="cm_mfbiz_delete" parameterType="MfbizVo">
		DELETE FROM
			mfbiz_info
		WHERE mfbiz_id = #{MFBIZ_ID}
	</delete>

	<delete id="cm_model_delete" parameterType="ModelVo">
		DELETE FROM
			model_info
		WHERE
			mfbiz_id = #{MFBIZ_ID}
		AND model_id = #{MODEL_ID}
	</delete>

	<delete id="cm_code_delete" parameterType="CodeVo">
		DELETE FROM
			code_info
		WHERE
			grp_cdid = #{GRP_CDID}
		AND	dtl_cdid = #{DTL_CDID}
	</delete>
</mapper>