<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkit.ai.mapper.IncidentMapper">

	<resultMap type="HashMap" id="br_list">
		<id column="BR_CD" property="BR_CD"/>
		<id column="BR_NM" property="BR_NM"/>
	</resultMap>

	<select id="brList" parameterType="UserVo" resultMap="br_list">
		SELECT
			br.br_nm
		    , mapp.user_no
		    , mapp.br_cd
		FROM
		    user_br_mapp mapp
		    , br_info br
		WHERE 1=1
		AND mapp.br_cd = br.br_cd
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
	</select>

	<select id="im_user_grid" parameterType="IncidentVo" resultType="IncidentVo">
		SELECT
		    br.br_nm
		    , mapp.user_no
		    , mapp.br_cd
		    , ob.ocrn_date
		    , ob.devc_no
		    , ob.ob_type
		    , cd1.dtl_cdnm AS ob_typenm
		    , ob.ob_strt_tm
		    , ob.act_cd
		    , cd2.dtl_cdnm AS act_cdnm
		    , nvl2(ob.act_cd, '접수', '비접수') AS reg_yn
		    , nvl(ob.act_dts, '비접수') AS act_dts
		    , nvl(ob.reqre_tm, '비접수') AS reqre_tm
		    , ob.reg_dt
		    , ob.mdfcn_dt
		    , ob.ob_end_tm
		    , ob.mfbiz_id
		    , mf.mfbiz_tel
		    , mf.mfbiz_nm
		FROM
		    ob_stat ob
		    , mfbiz_info mf
		    , devc_info devc
		    , user_br_mapp mapp
		    , br_info br
		    , code_dtl_info cd1
		    , code_dtl_info cd2
		WHERE 1=1
		AND ob.mfbiz_id = mf.mfbiz_id
		AND ob.ob_type = cd1.dtl_cd
		AND ob.act_cd = cd2.dtl_cd
		AND ob.devc_no = devc.devc_no
		AND devc.user_no = mapp.user_no
		AND devc.br_cd = mapp.br_cd
		AND mapp.br_cd = br.br_cd
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
		<if test="!BR_CD.equals('')" >
		AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="im_admin_grid" parameterType="IncidentVo" resultType="IncidentVo">
		SELECT
		    br.br_nm
		    , mapp.user_no
		    , mapp.br_cd
		    , ob.ocrn_date
		    , ob.devc_no
		    , ob.ob_type
		    , cd1.dtl_cdnm AS ob_typenm
		    , ob.ob_strt_tm
		    , ob.act_cd
		    , cd2.dtl_cdnm AS act_cdnm
		    , nvl2(ob.act_cd, '접수', '비접수') AS reg_yn
		    , nvl(ob.act_dts, '비접수') AS act_dts
		    , nvl(ob.reqre_tm, '비접수') AS reqre_tm
		    , ob.reg_dt
		    , ob.mdfcn_dt
		    , ob.ob_end_tm
		    , ob.mfbiz_id
		    , mf.mfbiz_tel
		    , mf.mfbiz_nm
		FROM
		    ob_stat ob
		    , mfbiz_info mf
		    , devc_info devc
		    , user_br_mapp mapp
		    , br_info br
		    , code_dtl_info cd1
		    , code_dtl_info cd2
		WHERE 1=1
		AND ob.mfbiz_id = mf.mfbiz_id
		AND ob.ob_type = cd1.dtl_cd
		AND ob.act_cd = cd2.dtl_cd
		AND ob.devc_no = devc.devc_no
		AND devc.user_no = mapp.user_no
		AND devc.br_cd = mapp.br_cd
		AND mapp.br_cd = br.br_cd
		<if test="!BR_CD.equals('')" >
		AND mapp.br_cd IN #{BR_CD}
		</if>		
	</select>

	<select id="im_dash_grid" parameterType="IncidentVo" resultType="IncidentVo">
		SELECT
		    cd.dtl_cdnm AS act_cdnm
		    , br.br_nm
		    , mapp.br_cd
		    , ob.devc_no
		    , ob.act_cd
		FROM
		    ob_stat ob
		    , code_dtl_info cd
		    , devc_info devc
		    , user_br_mapp mapp
		    , br_info br
		WHERE 1=1
		AND ob.act_cd = cd.dtl_cd
		AND ob.devc_no = devc.devc_no
		AND devc.user_no = mapp.user_no
		AND devc.br_cd = mapp.br_cd
		AND mapp.br_cd = br.br_cd
		AND cd.dtl_cdnm != '14'
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
		<if test="!BR_CD.equals('')" >
		AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<update id="im_merge" parameterType="IncidentVo" >
		MERGE INTO
			ob_stat a
		USING
		(
			SELECT
				ocrn_date
				, br_cd
				, devc_no
				, user_no
				, ob_type
				, ob_strt_tm
				, ob_end_tm
				, ac_cd
				, ac_dts
				, reqre_tm
				, reg_dt
				, mdfcn_dt
			FROM
				ob_stat_hist
			WHERE
				ocrn_date = #{OCRN_DATE}
			AND	br_cd = #{BR_CD}
			AND	devc_no =#{DEVC_NO}
			AND	user_no=#{USER_NO}
			AND	SEQ = (
				SELECT
					MAX(SEQ)
				FROM
					ob_stat_hist
				WHERE ocrn_date = #{OCRN_DATE}
				AND br_cd = #{BR_CD}
				AND devc_no = #{DEVC_NO}
				AND user_no= #{USER_NO}
			)
		) b
		ON (
			a.ocrn_date = b.ocrn_date
			AND a.br_cd = b.br_cd
			AND a.devc_no = b.devc_no
			AND a.user_no= b.user_no
		)
		WHEN MATCHED THEN

		UPDATE SET
			a.ob_type=b.ob_type
			, a.ob_strt_tm=b.ob_strt_tm
			, a.ob_end_tm=b.ob_end_tm
			, a.ac_cd=b.ac_cd
			, a.ac_dts=b.ac_dts
			, a.reqre_tm=b.reqre_tm
			, a.reg_dt=b.reg_dt
			, a.mdfcn_dt=b.mdfcn_d

		WHEN NOT MATCHED THEN

		INSERT (
			ocrn_date
			, br_cd
			, devc_no
			, user_no
			, ob_type
			, ob_strt_tm
			, ob_end_tm
			, ac_cd
			, ac_dts
			, reqre_tm
			, reg_dt
			, mdfcn_dt
		)
		VALUES(
			b.ocrn_date
			, b.br_cd
			, b.devc_no
			, b.user_no
			, b.ob_type
			, b.ob_strt_tm
			, b.ob_end_tm
			, b.ac_cd
			, b.ac_dts
			, b.reqre_tm
			, b.reg_dt
			, b.mdfcn_dt
		)
		WHERE
			b.ocrn_date = #{OCRN_DATE}
		AND b.br_cd = #{BR_CD}
		AND b.devc_no = #{DEVC_NO}
		AND b.user_no= #{USER_NO}
	</update>

	<insert id="im_user_insert" parameterType="IncidentVo">
		INSERT INTO
			ob_stat_hist
			(
				ocrn_date
				, br_cd
				, devc_no
				, user_no
				, seq
				, ob_type
				, ob_strt_tm
				, reg_dt
			)
			VALUES
			(
				#{OCRN_DATE}
				, #{BR_CD}
				, #{DEVC_NO}
				, #{USER_NO}
				, '1'
				, #{OB_TYPE}
				, #{OB_STRT_TM}
				, #{REG_DT}
			)
	</insert>

	<insert id="im_admin_modify" parameterType="IncidentVo">
		INSERT INTO
			ob_stat_hist
			(
				ocrn_date
				, br_cd
				, devc_no
				, user_no
				, seq
				, ob_type
				, ob_strt_tm
				, reg_dt
				, ac_cd
				, AC_DTS
			)
		VALUES
		(
			#{OCRN_DATE}
			, #{BR_CD}
			, #{DEVC_NO}
			, #{USER_NO}
			, (
				SELECT MAX(seq)
				FROM ob_stat_hist
				WHERE
					ocrn_date = #{OCRN_DATE}
				AND br_cd = #{BR_CD}
				AND devc_no = #{DEVC_NO}
				AND user_no= #{USER_NO})+1
			, #{OB_TYPE}
			, #{OB_STRT_TM}
			, #{REG_DT}
			, #{AC_CD}
			, #{AC_DTS}
		)
	</insert>
</mapper>