<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ai.mapper.IncidentMapper">

	<resultMap type="HashMap" id="br_list">
		<id column="BR_CD" property="BR_CD"/>
		<id column="BR_NM" property="BR_NM"/>
	</resultMap>
	
	
	 <select id="brList" parameterType="String" resultMap="br_list">
	 	SELECT
		    BR_NM, BR_CD
		FROM
		    BR_INFO
		WHERE
		 <choose>			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			    USER_ENO like '%'
			
			    </when>
			
			    <otherwise>
			
			     USER_ENO=#{USER_ENO}
			
			    </otherwise>
			
			</choose>    
	 </select>
	 
	 
	 <select id="im_user_grid" parameterType="IncidentVo" resultType="IncidentVo">
			select 
				OCRN_DATE,
		        BR_CD,
		        DEVC_UNO,
		        USER_ENO,
		        OB_TYPE,
		        OB_STRT_TM,
		        AC_CD,
		        NVL2(AC_CD, '접수','비접수') as REG_YN ,
		        NVL(AC_DTS, '비접수') AS AC_DTS,
		        NVL(REQRE_TM, '비접수') AS REQRE_TM,
		        REG_DT,
		        MDFCN_DT,
		        OB_END_TM,
		        
		        <choose>
		        	<when test="USER_ENO != null and USER_ENO.equals('admin')">
		        		
		          (
		            SELECT 
		            	BR_NM 
		            FROM
		            	BR_INFO 
		            WHERE 
		            	O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = '%'
		          ) AS BR_NM
                  ,(
                    SELECT MFBIZ_NM 
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO='%'
                        )
                    ) AS MFBIZ_NM
                    ,(
                    SELECT MNTMNG_TEL
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO='%'
                        )
                    ) AS MNTMNG_TEL
		        		
		        	</when>
		        	
		        	<otherwise>
		        		
		        		(
		            SELECT 
		            	BR_NM 
		            FROM
		            	BR_INFO 
		            WHERE 
		            	O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = #{USER_ENO}
		          ) AS BR_NM
                  ,(
                    SELECT MFBIZ_NM 
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO=#{USER_ENO}
                        )
                    ) AS MFBIZ_NM
                    ,(
                    SELECT MNTMNG_TEL
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO=#{USER_ENO}
                        )
                    ) AS MNTMNG_TEL
		        		
		        	</otherwise>
		        </choose>
			      
                FROM 
                    OB_STAT O
                WHERE 			 
                     <choose>			
					    <when test="USER_ENO != null and USER_ENO.equals('admin')">
					
					    USER_ENO like '%' and BR_CD=#{BR_CD}
					
					    </when>
					
						<when test="BR_CD != null and BR_CD.equals('all')">
						
						USER_ENO=#{USER_ENO}
						
						</when>
						
						<when test="BR_CD != null and BR_CD.equals('all') and USER_ENO != null and USER_ENO.equals('admin')">
						
						USER_ENO like '%' and BR_CD like '%'
						
						</when>
					
					    <otherwise>
					
					     USER_ENO=#{USER_ENO} and BR_CD=#{BR_CD}
					
					    </otherwise>
					
					</choose>
						  
	</select> 
	

	<update id="im_merge" parameterType="IncidentVo" >
	
		MERGE INTO 
		    OB_STAT A  
		    USING 
		(
		    SELECT 
		        OCRN_DATE,
		        BR_CD,
		        DEVC_UNO,
		        USER_ENO,
		        OB_TYPE,
		        OB_STRT_TM,
		        OB_END_TM,
		        AC_CD,
		        AC_DTS,
		        REQRE_TM,
		        REG_DT,
		        MDFCN_DT 
		    FROM 
		    	OB_STAT_HIST
		    WHERE 
		    	OCRN_DATE = #{OCRN_DATE}
		    AND 
		    	BR_CD = #{BR_CD}
		    AND 
		    	DEVC_UNO =#{DEVC_UNO} 
		    AND 
		    	USER_ENO=#{USER_ENO} 
		    AND 
		    	SEQ = (SELECT MAX(SEQ)FROM OB_STAT_HIST WHERE OCRN_DATE = #{OCRN_DATE} AND BR_CD = #{BR_CD} AND DEVC_UNO = #{DEVC_UNO}  AND USER_ENO= #{USER_ENO})
		) B 
		ON(
		    A.OCRN_DATE = B.OCRN_DATE
		    AND A.BR_CD = B.BR_CD
		    AND A.DEVC_UNO = B.DEVC_UNO
		    AND A.USER_ENO= B.USER_ENO 
		)
		
		WHEN MATCHED THEN 
		
		UPDATE SET   
		    A.OB_TYPE=B.OB_TYPE,
		    A.OB_STRT_TM=B.OB_STRT_TM,
		    A.OB_END_TM=B.OB_END_TM,
		    A.AC_CD=B.AC_CD,
		    A.AC_DTS=B.AC_DTS,
		    A.REQRE_TM=B.REQRE_TM,
		    A.REG_DT=B.REG_DT,
		    A.MDFCN_DT=B.MDFCN_DT
		    
		WHEN NOT MATCHED THEN 
		
		INSERT (
		    OCRN_DATE,
		    BR_CD,
		    DEVC_UNO,
		    USER_ENO,
		    OB_TYPE,
		    OB_STRT_TM,
		    OB_END_TM,
		    AC_CD,
		    AC_DTS,
		    REQRE_TM,
		    REG_DT,
		    MDFCN_DT 
		    )
		VALUES(
		    B.OCRN_DATE,
		    B.BR_CD,
		    B.DEVC_UNO,
		    B.USER_ENO,
		    B.OB_TYPE,
		    B.OB_STRT_TM,
		    B.OB_END_TM,
		    B.AC_CD,
		    B.AC_DTS,
		    B.REQRE_TM,
		    B.REG_DT,
		    B.MDFCN_DT
		    )
		    WHERE B.OCRN_DATE =#{OCRN_DATE}
		        AND B.BR_CD =#{BR_CD} 
		        AND B.DEVC_UNO =#{DEVC_UNO}
		        AND B.USER_ENO=#{USER_ENO}     
		
	
	</update>
	
	<insert id="im_user_insert" parameterType="IncidentVo">
		INSERT into 
			OB_STAT_HIST(OCRN_DATE, BR_CD, DEVC_UNO, USER_ENO, SEQ, OB_TYPE, OB_STRT_TM, REG_DT)
		VALUES(
			#{OCRN_DATE}
			,#{BR_CD}
			,#{DEVC_UNO}
			,#{USER_ENO}
			,'1'
			,#{OB_TYPE}
			,#{OB_STRT_TM}
			,#{REG_DT}
			)
			
	</insert>
	
	<select id="im_admin_grid" parameterType="IncidentVo" resultType="IncidentVo">
		 select 
				OCRN_DATE,
		        BR_CD,
		        DEVC_UNO,
		        USER_ENO,
		        OB_TYPE,
		        OB_STRT_TM,
		        AC_CD,
		        NVL2(AC_CD, '접수','접수 대기중') as REG_YN ,
		        NVL(AC_DTS, '접수 대기중') AS AC_DTS,
		        NVL(REQRE_TM, '접수 대기중') AS REQRE_TM,
		        REG_DT,
		        MDFCN_DT,
		        OB_END_TM,
			      (
		            SELECT 
		            	BR_NM 
		            FROM
		            	BR_INFO 
		            WHERE 
		            	 br_info.br_cd = O.BR_CD AND BR_INFO.USER_ENO = O.USER_ENO
		          ) AS BR_NM
                  ,(
                    SELECT MFBIZ_NM 
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO=O.USER_ENO
                        )
                    ) AS MFBIZ_NM
                    ,(
                    SELECT MNTMNG_TEL
                    FROM MFBIZ_INFO 
                    WHERE MFBIZ_ID =(
                        SELECT MFBIZ_ID 
                        FROM DEVC_INFO 
                        WHERE DEVC_UNO=O.DEVC_UNO 
                        AND USER_ENO=O.USER_ENO
                        )
                    ) AS MNTMNG_TEL
                FROM 
                    OB_STAT O
                WHERE 	
                <choose>
                	<when test="BR_CD != null and BR_CD.equals('all')">
                		USER_ENO like '%' and BR_CD like '%'
                	</when>
                	<otherwise>
                		USER_ENO like '%' and BR_CD = #{BR_CD}
                	</otherwise>
                </choose>		 
						
	</select>
	
	<insert id="im_admin_modify" parameterType="IncidentVo">
		
		INSERT into 
			OB_STAT_HIST(OCRN_DATE, BR_CD, DEVC_UNO, USER_ENO, SEQ, OB_TYPE, OB_STRT_TM, REG_DT, AC_CD, AC_DTS)
		VALUES(
			#{OCRN_DATE}
			,#{BR_CD}
			,#{DEVC_UNO}
			,#{USER_ENO}
			,(SELECT MAX(SEQ)FROM OB_STAT_HIST WHERE OCRN_DATE = #{OCRN_DATE} AND BR_CD = #{BR_CD} AND DEVC_UNO = #{DEVC_UNO}  AND USER_ENO= #{USER_ENO})+1
			,#{OB_TYPE}
			,#{OB_STRT_TM}
			,#{REG_DT}
			,#{AC_CD}
			,#{AC_DTS}
			)
		
	</insert>
	
	<select id="im_dash_grid" parameterType="IncidentVo" resultType="IncidentVo">
		select 
			BR_CD,
			DEVC_UNO,
			AC_CD,
			
		<choose>
				<when test="BR_CD != null and BR_CD.equals('all')">
					(
					     SELECT 
					        BR_NM 
					     FROM
					        BR_INFO 
					     WHERE 
					        O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = #{USER_ENO}
					     ) AS BR_NM
					from
						OB_STAT O
					where
						 USER_ENO=#{USER_ENO} and AC_CD != '06'
				</when>
				
				<when test="USER_ENO != null and USER_ENO.equals('admin')">
					(
					     SELECT 
					        BR_NM 
					     FROM
					        BR_INFO 
					     WHERE 
					        O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = O.USER_ENO
					     ) AS BR_NM
					from
						OB_STAT O
					where
						BR_CD = #{BR_CD} and AC_CD != '06'
				</when>
				
				<when test="BR_CD != null and BR_CD.equals('all') and USER_ENO != null and USER_ENO.equals('admin')">
					(
					     SELECT 
					        BR_NM 
					     FROM
					        BR_INFO 
					     WHERE 
					        O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = O.USER_ENO
					     ) AS BR_NM
					from
						OB_STAT O
					where
						AC_CD != '06'
				</when>
		
		
				<otherwise>
					(
					     SELECT 
					        BR_NM 
					     FROM
					        BR_INFO 
					     WHERE 
					        O.BR_CD = br_info.br_cd AND BR_INFO.USER_ENO = #{USER_ENO}
					     ) AS BR_NM
					from
						OB_STAT O
					where
						BR_CD = #{BR_CD} and USER_ENO=#{USER_ENO} and AC_CD != '06'
				</otherwise>
		</choose>
			
	</select>
	
</mapper>