<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ai.mapper.MainMapper">

	<resultMap type="HashMap" id="chart_list">
		<id column="DEVC_TOT" property="DEVC_TOT"/>
		<id column="OB_TOT" property="OB_TOT"/>
	</resultMap>
	
	<select id="main_chart_tot" resultMap="chart_list">
		 SELECT a.devc_tot , b.ob_tot
		 
		<choose>
			<when test="USER_ENO != null and USER_ENO == 'admin'">
			 FROM
            (SELECT COUNT(*) devc_tot FROM devc_info ) a
            ,(SELECT COUNT(*) ob_tot FROM ob_stat ) b
			</when>
			
			<otherwise>
			FROM
            (SELECT COUNT(*) devc_tot FROM devc_info WHERE user_eno=#{USER_ENO}) a
            ,(SELECT COUNT(*) ob_tot FROM ob_stat WHERE user_eno=#{USER_ENO}) b
			</otherwise>
		</choose>
		
	</select>
	
</mapper>