<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkit.ai.mapper.MainMapper">

	<resultMap type="HashMap" id="chart_list">
		<id column="DEVC_TOT" property="DEVC_TOT"/>
		<id column="OB_TOT" property="OB_TOT"/>
	</resultMap>

	<select id="main_chart_tot" resultMap="chart_list">
		SELECT
			a.devc_tot
			, b.ob_tot
			<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1">
			FROM
				(
					SELECT
						COUNT(*) devc_tot
					FROM
						devc_info
					WHERE 1=1
					AND user_no IN #{USER_NO}
				) a
				,(
					SELECT
						COUNT(*) ob_tot
					FROM
						ob_stat ob
						, devc_info devc
					WHERE 1=1
					AND ob.devc_no = devc.devc_no
					AND devc.user_no IN #{USER_NO}
				) b
			</if>
			<if test="!USER_NO.equals('') and CNTRL_AUTHOR==1">
			FROM
				(
					SELECT
						COUNT(*) devc_tot
					FROM
						devc_info
					WHERE 1=1
				) a
				,(
					SELECT
						COUNT(*) ob_tot
					FROM
						ob_stat ob
						, devc_info devc
					WHERE 1=1
					AND ob.devc_no = devc.devc_no
				) b
			</if>
	</select>
</mapper>