<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ai.mapper.MemberMapper">

	
	 
	 <select id="login" parameterType="MemberVo" resultType="MemberVo">
	 	SELECT
	 		*
	 	FROM
	 		USER_INFO
	 	WHERE
	 		CNTRL_USER_ID = #{CNTRL_USER_ID}
	 	AND
	 		USER_PW = #{USER_PW}
	 </select>
	
	<select id="join" parameterType="MemberVo" >
		
		INSERT INTO USER_INFO 
			(CNTRL_USER_ID, USER_ENO, USER_PW, USER_NM, USER_HP, USER_EMAIL, CNTRL_AUTHOR, REG_DT)
		VALUES 
			(#{CNTRL_USER_ID}, (SELECT NVL(MAX(user_eno),0)+1 FROM USER_INFO) , #{USER_PW}, #{USER_NM}, #{USER_HP}, #{USER_EMAIL}, '01', TO_DATE(SYSDATE,'YYYY-MM-DD HH24:MI:SS'))
	
	</select>
	
</mapper>