<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkit.ai.mapper.SalesMapper">

	<resultMap type="HashMap" id="br_list">
		<id column="BR_CD" property="BR_CD" />
		<id column="BR_NM" property="BR_NM" />
	</resultMap>

	<resultMap type="HashMap" id="dash_cal">
		<id column="DLAMT" property="title" />
		<id column="DELNG_DATE" property="start" />
	</resultMap>

	<select id="brList" parameterType="UserVo" resultMap="br_list">
		SELECT
			br.br_nm
		    , mapp.user_no
		    , mapp.br_cd
		FROM
		    user_br_mapp mapp
		    , br_info br
		WHERE 1=1
		AND mapp.br_cd = br.br_cd
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
	</select>

	<select id="sm_daily_tot" parameterType="SalesVo" resultType="String">
		SELECT
		    SUM(sales.dlamt)
		FROM
			sales_info sales
			, devc_info devc
			, user_br_mapp mapp
		WHERE 1=1
		AND sales.devc_no = devc.devc_no
		AND devc.br_cd = mapp.br_cd
		AND devc.user_no = mapp.user_no
		AND TO_CHAR(TO_DATE(sales.delng_date),'YY/MM/DD') = #{DELNG_DATE}
		-- 회원번호
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
		-- 영업점번호
		<if test="!BR_CD.equals('')">
		AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="sm_period_tot" parameterType="SalesVo"
		resultType="String">
		SELECT
		    SUM(sales.dlamt)
		FROM
			sales_info sales
			, devc_info devc
			, user_br_mapp mapp
		WHERE 1=1
		AND sales.devc_no = devc.devc_no
		AND devc.br_cd = mapp.br_cd
		AND devc.user_no = mapp.user_no
		AND TO_CHAR(TO_DATE(sales.delng_date),'YY/MM/DD') BETWEEN #{DELNG_DATE} AND #{DELNG_DATE2}
		-- 회원번호
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
		-- 영업점번호
		<if test="!BR_CD.equals('')">
		AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="sm_daily_grid" parameterType="SalesVo" resultType="SalesVo">
	    SELECT
	        br.br_nm
	        , br.br_cd
	        , mapp.user_no
	        , gc.goods_cdnm AS goods_nm
	        , sales.dlamt
	        , sales.delng_date
	        , sales.delng_tm
	        , sales.devc_no
	        , sales.goods_cd
	        , sales.tr_seq
	        , sales.sub_seq
	    FROM
	        sales_info sales
	        , goods_cd_info gc
	        , devc_info devc
	        , user_br_mapp mapp
	        , br_info br
	    WHERE 1=1
	    AND sales.goods_cd = gc.goods_cd
	    AND sales.devc_no = devc.devc_no
	    AND devc.user_no = mapp.user_no
	    AND devc.br_cd = mapp.br_cd
	    AND mapp.br_cd = br.br_cd
	    AND sales.delng_date = #{DELNG_DATE}
	    -- 회원번호
	    <if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
	    AND mapp.user_no IN #{USER_NO}
		</if>
	    -- 영업점번호
	    <if test="!BR_CD.equals('')">
	    AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="sm_period_grid" parameterType="SalesVo"	resultType="SalesVo">
	    SELECT
	        br.br_nm
	        , br.br_cd
	        , mapp.user_no
	        , gc.goods_cdnm AS goods_nm
	        , sales.dlamt
	        , sales.delng_date
	        , sales.delng_tm
	        , sales.devc_no
	        , sales.goods_cd
	        , sales.tr_seq
	        , sales.sub_seq
	    FROM
	        sales_info sales
	        , goods_cd_info gc
	        , devc_info devc
	        , user_br_mapp mapp
	        , br_info br
	    WHERE 1=1
	    AND sales.goods_cd = gc.goods_cd
	    AND sales.devc_no = devc.devc_no
	    AND devc.user_no = mapp.user_no
	    AND devc.br_cd = mapp.br_cd
	    AND mapp.br_cd = br.br_cd
	    AND sales.delng_date BETWEEN #{DELNG_DATE} AND #{DELNG_DATE2}
	    -- 회원번호
	    <if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
	    AND mapp.user_no IN #{USER_NO}
		</if>
		-- 영업점번호
	    <if test="!BR_CD.equals('')">
	    AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="sm_stk_grid" parameterType="SalesVo"
		resultType="StkVo">
	    SELECT
	        br.br_nm
	        , br.br_cd
	        , gt.goods_typenm AS goods_typenm
	        , gc.goods_cdnm AS goods_nm
	        , invn.goods_qy
	        , invn.devc_no
	        , invn.goods_cd
	    FROM
	        invntry_info invn
	        , goods_cd_info gc
	        , goods_type_info gt
	        , devc_info devc
	        , user_br_mapp mapp
	        , br_info br
	    WHERE 1=1
	    AND invn.goods_cd = gc.goods_cd
	    AND gc.goods_type = gt.goods_type
	    AND invn.devc_no = devc.devc_no
	    AND br.br_cd = mapp.br_cd
	    AND devc.br_cd = mapp.br_cd
	    AND mapp.user_no = devc.user_no
	    -- 회원번호
	    <if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
	    AND mapp.user_no IN #{USER_NO}
		</if>
		-- 영업점번호
	    <if test="!BR_CD.equals('')">
	    AND mapp.br_cd IN #{BR_CD}
		</if>
	</select>

	<select id="dash_cal" parameterType="SalesVo"
		resultMap="dash_cal">
		SELECT
		    TO_CHAR(TO_DATE(sales.delng_date),'YYYY-MM-DD') AS delng_date
		    , TO_CHAR(SUM(sales.dlamt),'999,999,999,999,999') AS dlamt
		FROM
		    sales_info sales
		    , devc_info devc
		    , user_br_mapp mapp
		WHERE 1=1
		AND sales.devc_no = devc.devc_no
		AND devc.user_no = mapp.user_no
		AND devc.br_cd = mapp.br_cd
		<if test="!USER_NO.equals('') and CNTRL_AUTHOR!=1" >
		AND mapp.user_no IN #{USER_NO}
		</if>
		AND TO_CHAR(TO_DATE(sales.delng_date),'MM') = #{DELNG_DATE}
		GROUP BY
		    sales.delng_date
	</select>

	<!-- modal -->

	<select id="modal_devc" parameterType="StkVo"
		resultType="java.util.HashMap">
		SELECT
			br.br_nm
		    , mapp.user_no
		    , devc.devc_no
		FROM
		    devc_info devc
		    , user_br_mapp mapp
		    , br_info br
		WHERE 1=1
		AND devc.br_cd = mapp.br_cd
		AND devc.user_no = mapp.user_no
		AND mapp.br_cd = br.br_cd
		AND devc.br_cd IN #{BR_CD}
		AND devc.user_no IN #{USER_NO}
	</select>

	<!-- modal -->

	<select id="modal_gt" resultType="java.util.HashMap">
		SELECT
			goods_type
			, goods_typenm
		FROM
			goods_type_info
		WHERE
			use_yn = 'Y'
	</select>

	<select id="modal_gnm" parameterType="StkVo" resultType="java.util.HashMap">
		SELECT
			goods_cd
			, goods_cdnm AS goods_nm
		FROM
			goods_cd_info
		WHERE
			goods_type = #{GOODS_TYPE}
	</select>


	<update id="modal_update" parameterType="StkVo">
		UPDATE
			invntry_info
		SET
			goods_qy = #{GOODS_QY}
			, mdfcn_dt = #{REG_DT}
		WHERE 1=1
		AND devc_no IN #{DEVC_NO}
		AND goods_cd IN #{GOODS_CD}
	</update>

	<insert id="modal_insert" parameterType="StkVo">
		INSERT INTO
			invntry_info
			(
				devc_no
				, goods_cd
				, goods_qy
				, reg_dt
			)
		VALUES
			(
				#{DEVC_NO}
				, #{GOODS_CD}
				, #{GOODS_QY}
				, #{REG_DT}
			)
	</insert>

	<delete id="sm_stkManage_del" parameterType="StkVo">
		DELETE FROM
			invntry_info
		WHERE 1=1
		AND devc_no IN #{DEVC_NO}
		AND goods_cd IN #{GOODS_CD}
	</delete>
</mapper>