<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ai.mapper.SalesMapper">

	<resultMap type="HashMap" id="br_list">
		<id column="BR_CD" property="BR_CD"/>
		<id column="BR_NM" property="BR_NM"/>
	</resultMap>
	
	<resultMap type="HashMap" id="dash_cal">
		<id column="DLAMT" property="title"/>	
		<id column="DELNG_DATE" property="start"/>		
	</resultMap>
	 <select id="brList" parameterType="String" resultMap="br_list">
	 	SELECT
		    br_nm, br_cd
		FROM
		    br_info
		WHERE
		 <choose>			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			    user_eno like '%'
			
			    </when>
			
			    <otherwise>
			
			     user_eno=#{USER_ENO}
			
			    </otherwise>
			
			</choose>    
	 </select>

	<select id="sm_daily_tot" parameterType="SalesVo" resultType="String">
	 	SELECT
    		SUM(dlamt)
		FROM 
		    sales_info
		WHERE
		   <choose>
			
			    <when test="BR_CD != null and BR_CD.equals('all')">
			
			     TO_CHAR(delng_date)=#{DELNG_DATE} AND user_eno=#{USER_ENO}
			
			    </when>
			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        TO_CHAR(delng_date,'YY/MM/DD')=#{DELNG_DATE}
			
			    </when>
			
			    <otherwise>
			
			      br_cd=#{BR_CD} AND TO_CHAR(delng_date,'YY/MM/DD')=#{DELNG_DATE} AND user_eno=#{USER_ENO}
			
			    </otherwise>
			
			</choose>
	 </select>
	 
	 <select id="sm_period_tot" parameterType="SalesVo" resultType="String">
	 	SELECT
    		SUM(dlamt)
		FROM 
		    sales_info
		WHERE
		   <choose>
			
			    <when test="BR_CD != null and BR_CD.equals('all')">
			
			     TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2} AND user_eno=#{USER_ENO}
			
			    </when>
			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			         TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2} AND user_eno=#{USER_ENO}
			
			    </when>
			
			    <otherwise>
			
			      br_cd=#{BR_CD} AND user_eno=#{USER_ENO} AND  TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2} AND user_eno=#{USER_ENO}
			
			    </otherwise>
			
			</choose>
	 </select>
	 
	 <select id="sm_daily_grid" parameterType="SalesVo" resultType="SalesVo">
	 
	 	SELECT
	 		TO_CHAR(delng_date) AS delng_date,
			user_eno,
			br_cd,
			devc_uno,
			goods_cd,
			delng_seq,
			delng_tm,
			dlamt,
			dlnt,
			
			<choose>
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        (
		            	SELECT 
		            		br_nm 
		            	FROM 
		            		br_info 
		            	WHERE  
		            		br_info.br_cd = sales_info.br_cd AND br_info.user_eno = sales_info.user_eno
		            ) AS br_nm ,
		            
		            (
		            	SELECT 
		            		goods_cdnm 
		            	FROM 
		            		goods_cd_info 
		            	WHERE 
		            		sales_info.goods_cd = goods_cd_info.goods_cd and sales_info.goods_type = goods_cd_info.goods_type 
		            ) AS goods_nm
			
			    </when>
			
			    <otherwise>
			
			      (
		            SELECT 
		            	br_nm 
		            FROM
		            	br_info 
		            WHERE 
		            	sales_info.br_cd = br_info.br_cd AND br_info.user_eno = #{USER_ENO}
		          ) AS br_nm ,
		          
		          (
		            SELECT 
		            	goods_cdnm 
		            FROM 
		            	goods_cd_info 
		            WHERE 
		            	sales_info.goods_cd = goods_cd_info.goods_cd AND sales_info.goods_type = goods_cd_info.goods_type 
		          ) AS goods_nm
			
			    </otherwise>
			
			</choose>
		FROM
			sales_info
	 	WHERE
	 	
			<choose>
			
			    <when test="BR_CD != null and BR_CD.equals('all')">
			
			     TO_CHAR(delng_date,'YY/MM/DD') =#{DELNG_DATE} AND user_eno=#{USER_ENO}
			
			    </when>
			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        TO_CHAR(delng_date,'YY/MM/DD') =#{DELNG_DATE} 
			
			    </when>
			
			    <otherwise>
			
			      br_cd=#{BR_CD} AND user_eno=#{USER_ENO} AND TO_CHAR(delng_date) =#{DELNG_DATE}
			
			    </otherwise>
			
			</choose>
	 </select>
	 
	 <select id="sm_period_grid" parameterType="SalesVo" resultType="SalesVo">
	 
	 	SELECT
	 		TO_CHAR(delng_date) AS delng_date,
			user_eno,
			br_cd,
			devc_uno,
			goods_cd,
			delng_seq,
			delng_tm,
			dlamt,
			dlnt,
			
			<choose>
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        (
		            	SELECT 
		            		br_nm 
		            	FROM 
		            		br_info 
		            	WHERE  
		            		br_info.br_cd = sales_info.br_cd AND br_info.user_eno = sales_info.user_eno
		            ) AS br_nm ,
		            
		            (
		            	SELECT 
		            		goods_cdnm 
		            	FROM 
		            		goods_cd_info 
		            	WHERE sales_info.goods_cd = goods_cd_info.goods_cd AND sales_info.goods_type = goods_cd_info.goods_type 
		            ) AS goods_nm
			
			    </when>
			
			    <otherwise>
			
			      (
		            SELECT 
		            	br_nm 
		            FROM
		            	br_info 
		            WHERE 
		            	sales_info.br_cd = br_info.br_cd AND br_info.user_eno = #{USER_ENO}
		          ) AS br_nm ,
		          
		          (
		            SELECT 
		            	goods_cdnm 
		            FROM 
		            	goods_cd_info 
		            WHERE 
		            	sales_info.goods_cd = goods_cd_info.goods_cd AND sales_info.goods_type = goods_cd_info.goods_type 
		          ) AS goods_nm
			
			    </otherwise>
			
			</choose>
		FROM
			sales_info
	 	WHERE
	 	
			<choose>
			
			    <when test="BR_CD != null and BR_CD.equals('all')">
			
			     TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2} AND user_eno=#{USER_ENO}
			
			    </when>
			
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2}
			
			    </when>
			
			    <otherwise>
			
			      br_cd=#{BR_CD} AND user_eno=#{USER_ENO} AND TO_CHAR(delng_date) &gt;=#{DELNG_DATE} AND TO_CHAR(delng_date) &lt;= #{DELNG_DATE2}
			
			    </otherwise>
			
			</choose>
	 </select>
	 
	  <select id="sm_stk_grid" parameterType="SalesVo" resultType="StkVo">
	  SELECT
	     user_eno,
         br_cd,
         devc_uno,
         goods_cd,
         goods_qy,
         goods_type,
			<choose>
			    <when test="USER_ENO != null and USER_ENO.equals('admin')">
			
			        (
		            	SELECT 
		            		br_nm 
		            	FROM 
		            		br_info
		            	
		            	WHERE  
		            		br_info.br_cd = invntry_info.br_cd AND br_info.user_eno = invntry_info.user_eno
		            ) AS br_nm ,
		            
		            (
		            	SELECT 
		            		goods_cdnm 
		            	FROM 
		            		goods_cd_info 
		            	WHERE 
		            		invntry_info.goods_cd = goods_cd_info.goods_cd
		            	AND
                        	invntry_info.goods_type = goods_cd_info.goods_type 
		            ) AS goods_nm ,
		            (
		            	SELECT
		            		goods_typenm
		            	FROM
		            		goods_type_info
		            	WHERE
		            		invntry_info.goods_type = goods_type_info.goods_type
		            )AS goods_typenm
		            
			
			    </when>
			
			    <otherwise>
			
			      (
		            SELECT 
		            	br_nm 
		            FROM
		            	br_info 
		            WHERE 
		            	invntry_info.br_cd = br_info.br_cd AND br_info.user_eno = #{USER_ENO}
		          ) AS br_nm ,
		          
		          (
		            SELECT 
		            	goods_cdnm 
		            FROM 
		            	goods_cd_info 
		            WHERE 
		            	invntry_info.goods_cd = goods_cd_info.goods_cd
		             AND
                        invntry_info.goods_type = goods_cd_info.goods_type 
		          ) AS goods_nm ,
		          
		            (
		            	SELECT
		            		goods_typenm
		            	FROM
		            		goods_type_info
		            	WHERE
		            		invntry_info.goods_type = goods_type_info.goods_type
		            )AS goods_typenm
			
			    </otherwise>
			
			</choose>
		FROM
			invntry_info
	 
	 	
			<choose>
			
			    <when test="BR_CD != null and BR_CD.equals('all')">
				WHERE
			     user_eno=#{USER_ENO}
			
			    </when>

			    <otherwise>
				WHERE
			      br_cd=#{BR_CD} AND user_eno=#{USER_ENO}
			
			    </otherwise>
			
			</choose>
	 </select>
	 
	 <delete id="sm_stkManage_del" parameterType="StkVo">
	 	DELETE 
	 	FROM 
	 		invntry_info
	 	WHERE
	 		br_cd=#{BR_CD} AND devc_uno = #{DEVC_UNO} AND goods_cd=#{GOODS_CD}  AND user_eno=#{USER_ENO} AND goods_type = #{GOODS_TYPE}
	 </delete>
	 
	 <!-- modal -->
	 <select id="modal_devc" parameterType="StkVo" resultType="StkVo">
	 	SELECT
		 	 devc_uno,
	       	(SELECT br_nm FROM br_info WHERE br_info.br_cd = br_devc_mapp.br_cd AND br_info.user_eno = br_devc_mapp.user_eno) AS br_nm  
		FROM
			br_devc_mapp
		WHERE 
			br_cd=#{BR_CD} AND user_eno=#{USER_ENO}
	 </select>
	 
	 <!-- modal -->
	 
	 <select id="modal_gt" resultType="StkVo">
	 	SELECT
	 		goods_type,
	 		goods_typenm
	 	FROM
	 		goods_type_info
	 	WHERE 
	 		use_yn='Y'
	 	
	 </select>
	 
	 <select id="modal_gnm" parameterType="StkVo" resultType="StkVo">
	 SELECT
        goods_cd,
        goods_cdnm AS goods_nm
    FROM 
        goods_cd_info
    WHERE goods_type =#{GOODS_TYPE}
    </select>
    
    <insert id="modal_insert" parameterType="StkVo" >
    	INSERT INTO invntry_info(user_eno, br_cd, devc_uno, goods_type, goods_cd, goods_qy, reg_dt)
    VALUES (#{USER_ENO}, #{BR_CD}, #{DEVC_UNO}, #{GOODS_TYPE}, #{GOODS_CD}, #{GOODS_QY}, #{REG_DT})
						
    </insert>
    
    <update id="modal_update" parameterType="StkVo">
    	UPDATE 
    		invntry_info
		SET 
			goods_qy = #{GOODS_QY}, mdfcn_dt =#{REG_DT}
		WHERE 
			user_eno=#{USER_ENO} AND br_cd=#{BR_CD} AND devc_uno=#{DEVC_UNO} AND goods_type=#{GOODS_TYPE} AND goods_cd=#{GOODS_CD}
    </update>
    
    <select id="dash_cal" parameterType="SalesVo" resultMap="dash_cal">
    	SELECT 
		    TO_CHAR(delng_date,'YYYY-MM-DD') AS delng_date
		    ,TO_CHAR(SUM(dlamt),'999,999,999,999,999')AS dlamt
		FROM 
			sales_info
		WHERE 
			user_eno = #{USER_ENO} 
		AND 
			TO_CHAR(delng_date,'MM') = #{DELNG_DATE}
		GROUP BY 
			delng_date
    </select>
	
</mapper>