<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><span>Text</span><a class="nav-link" href="../index.html"><i class="fas fa-tachometer-alt"></i><span>당일 판매 정보</span></a><a class="nav-link" href="../index.html"><i class="fas fa-tachometer-alt"></i><span style="width: 100px;text-align: left;">기간별 판매 정보</span></a><a class="nav-link" href="../index.html"><i class="fas fa-tachometer-alt"></i><span>재고 정보</span></a><a class="nav-link" href="../index.html"><i class="fas fa-tachometer-alt"></i><span>재고 관리</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                               <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="padding-bottom: 0px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navcol-2" style="width: 100%;height: 80%;">
                            <ul class="nav navbar-nav ml-auto" style="width: 100%;height: 100%;">
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="/sm_daily">&lt;판매관리&gt;</a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/sm_daily">당일 판매 정보</a><a class="dropdown-item" href="/sm_period">기간별 판매 정보</a><a class="dropdown-item" href="/sm_stk">재고 정보</a><a class="dropdown-item" href="/sm_stkManage">재고 관리</a></div>
                                    </div>
                                </li>
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">&lt;장애관리&gt;</a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/im_info_user">장애 상태</a><a class="dropdown-item" href="/im_dash">종합 장애 현황</a></div>
                                    </div>
                                </li>
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&lt;공통정보&gt;</a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/cm_goods">상품 관리</a><a class="dropdown-item" href="/cm_br">영업점 관리</a><a class="dropdown-item" href="/cm_devc">영업점 관리</a><a class="dropdown-item" href="/cm_user">유저 관리</a><a class="dropdown-item" href="/cm_code">코드 관리</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Blank Page</h3>
                    <h3 class="text-dark mb-1"></h3>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 70px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../assets/js/theme.js"></script>
</body>

</html>