<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/datatables.min.css?2">
	<link rel="stylesheet" type="text/css" href="../assets/css/select.datatables.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><i class="fas fa-store"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" style="text-align: center;">
                    <span style="text-align: center;">-판매관리-</span>
	                    <a class="nav-link" href="/sm_daily">
		                    <i class="fas fa-tachometer-alt" style="color: var(--light);"></i>
		                    <span style="color: var(--light);">당일 판매 정보</span>
	                    </a>
	                    <a class="nav-link" href="/sm_period">
		                    <i class="fas fa-tachometer-alt" style="color: var(--warning);"></i>
		                    <span style="width: 100px;text-align: left;color: var(--warning);">기간별 판매 정보</span>
	                    </a>
	                    <a class="nav-link" href="/sm_stk">
		                    <i class="fas fa-tachometer-alt" style="color: var(--light);"></i>
		                    <span style="color: var(--light);">재고 정보</span>
	                    </a>
	                    <a class="nav-link" href="/sm_stkManage">
		                    <i class="fas fa-tachometer-alt" style="color: var(--light);"></i>
		                    <span style="color: var(--light);">재고 관리</span>
	                    </a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="padding-bottom: 0px;">
                    <div class="container-fluid" style="width : 100%; text-align:center;" th:insert="/topnav">
                    	<button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    </div>
                </nav>
               <div class="container-fluid">
				    <div class="row">
				        <div class="col">
				            <h3 class="text-dark mb-1">기간별판매정보</h3>
				        </div>
				        <div class="col" style="text-align: right;">
				        	<div class="row">
					        	<div class="input-group input-daterange">
	                            	<div class="input-group-prepend"><span class="input-group-text">거래일자</span></div><input class="form-control" type="text" id="dateRangePicker">
	                        		<button class="btn btn-primary" type="button" id="sm_daily_search">조회</button>
	                        	</div>
				        	</div>
				        	
                        	
				        </div>
				        <hr style="text-align: left;" />
				        <hr style="text-align: left;" />
				    </div>
				    <hr style="text-align: left;" />
				    <div>				        
				        <div>
				        	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  type="button" id="sm_daily_dropdown_btn">영업점 선택 </button>
				        	 <ul id="sm_daily_grid" class="dropdown-menu" role="menu" aria-labelledby="searchType">
						        <li role="presentation">
						            <a role="menuitem" tabindex="-1" href="#" value="a">A</a>
						        </li>
						       	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" value="test">test</a> </li>
						    </ul>
				        </div>				        
				    </div>
				    <hr style="text-align: left;" />
				    <div>
				        <div class="card" style="height: 108px;border-color: var(--dark);">
				            <div class="card-header" style="text-align: center;">
				                <h5 class="mb-0" id="sm_daily_date">기간별 매출</h5>
				            </div>
				            <div class="card-body" style="height: 59px;text-align: center;">
				                <p id="sm_daily_sales"> 매출액 : 원</p>
				            </div>
				        </div>
				    </div>
				    <div id="sm_daily_grid">
				    	<table id="example" class="table table-striped table-bordered" style="width:100%">
					        <thead>
					            <tr>
					                <th>영업점명</th>
					                <th>기기번호</th>
					                <th>상품명</th>
					                <th>금액</th>
					                <th>거래일자</th>
					                <th>거래시각</th>
					            </tr>
					        </thead>
					    </table>
				    </div>
				</div>
            </div>
            
            <footer class="bg-white sticky-footer" style="height: 70px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                    <input type="hidden" id="sessionId" th:value=" ${session.USER_NO} " value="기본">
                    <input type="hidden" id="sessionAuthor" th:value=" ${session.CNTRL_AUTHOR} " value="기본">
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>  
 	<script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    
    <script src="../assets/js/theme.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    
    <script src="../assets/js/sale/period.js"></script>
</body>

</html>