<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body id="page-top">
   						<div class="container-fluid" style="width:5%; text-align:left;"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                        <div class="collapse navbar-collapse" id="navcol-2" style="width: 95%;height: 80%;text-align:right; ">
                        
                            <ul class="nav navbar-nav ml-auto" style="width: 100%;height: 100%;">
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="/sm_daily"><img src="../assets/img/menu/판매관리.jpg" style="width:100px; height:40px;"/></a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/sm_daily">당일 판매 정보</a><a class="dropdown-item" href="/sm_period">기간별 판매 정보</a><a class="dropdown-item" href="/sm_stk">재고 정보</a><a class="dropdown-item" href="/sm_stkManage">재고 관리</a></div>
                                    </div>
                                </li>
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><img src="../assets/img/menu/장애관리.jpg" style="width:100px; height:40px;"/></a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/im_info_user">장애 상태</a><a class="dropdown-item" href="/im_dash">종합 장애 현황</a></div>
                                    </div>
                                </li>
                                <li class="nav-item" style="width: 30%;height: 100%;">
                                    <div class="nav-item dropdown no-arrow" style="width: 90%;height: 90%;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="../assets/img/menu/공통정보.jpg" style="width:100px; height:40px;"/></a>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="/cm_goods">상품 관리</a><a class="dropdown-item" href="/cm_br">영업점 관리</a><a class="dropdown-item" href="/cm_devc">기기 관리</a><a class="dropdown-item" href="/cm_user">유저 관리</a><a class="dropdown-item" href="/cm_code">코드 관리</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                     
    	
</body>

</html>