<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/public.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/mobileSelect.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">회원 가입</h4>
                            </div>
                           
                                <div class="form-group"><div>아이디</div><input class="form-control form-control-user" type="text" id="register_id" placeholder="ENTER ID" name="id"></div>
                                <div> 비밀 번호 </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="register_pw" placeholder="Password" name="password" ></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="register_repw" placeholder="Repeat Password" name="password_repeat" ></div>
                                    <div id="chkPwAlert"></div>
                                </div>
                                <div> 이름 </div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="register_nm" placeholder="Name" name="name" ></div>
                                <div> 핸드폰 번호 (-기호는 생략해주세요)</div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0" id="trigger1"><input class="form-control form-control-user" type="text" id="register_tel_head" placeholder="010" name="register_tel_head" style = "text-align:center;"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="tel" id="register_tel_body" name="register_tel_body" placeholder="-는 생략하고 입력해주세요"></div>
                                </div>
                                <div> 이메일 주소 </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="register_email" placeholder="Email Address" name="register_email"></div>
                                <button class="btn btn-primary btn-block text-white btn-user" id="register">회원가입</button>
                                <hr>
                                <hr>
                            
                            <div class="text-center"><a class="small" href="/">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script src="../assets/js/ms/mobileSelect_v2.js?v2"></script>
    <script src="../assets/js/member/register.js"></script>
</body>

</html>